.fold-title {

    display: flex;
    align-items: center;
    font-size: 90%;
    cursor:pointer;
    user-select: none;
    border-radius: 5px;
    padding:5px;
    color:var(--text-op);
    font-family: Inter;

    &:hover{
        background:var(--current-op-30);
    }

    &.active{
        color:var(--accent);
    }

    .foldarrow{
        font-family: 'Material Icons';
        margin-right:5px;
        font-size:1.5em;
        color:var(--current-op-40);
        transition-duration: .2s;
    }
}

html:has(.app.dark) .fold-title.active{
    color:var(--accent-light) !important;
}

html:has(.app.dark) .fold-child .active{
    color:var(--accent-light) !important;
}

.fold-container{
    .fold-child{
        border-left:1px solid var(--current-op-20);
        padding-left:5px;
        font-family: Inter;
        height:0;
        display: none;
        margin-left:calc(1em - 1px);
    }
}

.fold-container.open{
    & > .fold-title{
        .foldarrow {
            transform: rotate(90deg);
        }
    }

    & > .fold-child{
        height:auto;
        display: block;
    }
}

.sidebar-normal {
    padding-top:1em;
}

.file-item{
    cursor:pointer;
    user-select: none;
    border-radius: 5px;
    padding:5px;
    padding-left:1em;
    font-size: 90%;
    color:var(--text-op);
    display: block;
    text-decoration: none;

    &:hover, &.active{
        background:var(--current-op-30);
    }

    &.active{
        color:var(--accent);
    }
}

html:has(.app.dark) .file-item.active{
    color:var(--accent-light)
}

.color-tag{
    height:6px;
    width:6px;
    border-radius: 1em;
    background:var(--accent);
    margin-left:.5em;
}

html:has(.app.dark) .color-tag{
    background:var(--accent-light);
}