@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');


.preview-card {
    background:var(--low-bg);
    border-radius:6px;
    cursor:pointer;
    padding:20px;
    font-family: Inter;
    text-decoration: none;
    color:unset;
    user-select: none;
    border:1px solid var(--low-bg);
    box-shadow: var(--bs);
    transition: box-shadow 0.2s;
    overflow: scroll;
    overflow: hidden;
    position:relative;

    &:hover{
        box-shadow: var(--bs-hover);
    }

    div.low-bar{
        position:absolute;
        bottom:0;
        background: linear-gradient(to bottom, transparent 10%, var(--low-bg) 50%);
        padding:20px;
        padding-top:40px;
        display: block;
        width:100%;
        left:0;
        display: flex;
        justify-content: flex-start;
        gap:1em;

        span {
            color:var(--text-op);
            display: flex;
            align-items: center;
            gap:.5em;

            .icon {
                font-family: Material Icons;
            }
        }
    }

    p {
        color:var(--text-op);
    }

    span.title {
        color:var(--text);
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    span.title::before{
        font-family: Material Icons;
        content:'article';
        margin-right:1em;
        color:var(--text-op);
    }

    span.folder-title{
        font-weight: 500;
        transition: color .2s, font-weight .2s;
    }

    span.folder-icon{
        font-family: Material Icons;
        color:var(--accent);
    }

    &.folder{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:1em;

        &:hover{
            .folder-title{
                color:var(--accent);
            }
        }
    }

    span.after-arrow{
        font-family: Material Icons;
        margin-left:auto;
    }

}

html:has(.app.dark) .preview-card.folder {
    span.folder-icon{
        color:var(--accent-light);
    }

    &:hover {
        span.folder-title {
            color:var(--accent-light);
        }
    }
}



.preview-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
}
@media (max-width: 768px) {
  .preview-grid-container {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
}

.path-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;   
    border-color:var(--text-op);
    width:100%;
    padding:10px;

    a {
        text-decoration: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .path-item{
        display: inline-flex;
        align-items: center;
        user-select: none;

        span {
            background:var(--current-op-20);
            font-family: Inter;
            cursor:pointer;
            padding:5px;
            border-radius: 1rem;
            color:var(--accent);
            display: flex;
            align-items: center;

            &::before{
                font-family: Material Icons;
                content:'folder';
                line-height: 1;
                margin-right:.5em;
            }
        }
    }

    .file-path-item {
        font-family: inter;
        user-select: none;
        color:var(--text-op);
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon{
            font-family: Material Icons;
            content:'article';
            color:var(--text-op);
            line-height: 1;
            margin-right:.3em;
        }
    }

    .path-item::before, .file-path-item::before{
        font-family: Material Icons;
        content:'chevron_right';
        color:var(--text-op);
        line-height: 1;
    }

    .home-icon {
        color:var(--text-op);
        cursor:pointer;

        &:hover{
            color:var(--text);
        }
    }


}

.app.dark .path-list .path-item span {
    background:var(--current-op-20);
    font-family: Inter;
    cursor:pointer;
    padding:5px;
    border-radius: 1rem;
    color:var(--accent-light);
    display: flex;
    align-items: center;

    &::before{
        font-family: Material Icons;
        content:'folder';
        line-height: 1;
        margin-right:.5em;
    }
}

.path-list {
    flex-wrap: wrap;
}

.preview-card.essentials{
    display: flex;
    align-items: center;
    cursor:pointer;
    flex-direction: column;
    
    padding-bottom:5px;

    .header{
        display: flex;
        align-items: center;
        gap:.5em;

        .icon{
            font-family: Material Icons;
            color:var(--text-op);
        }
    }

    .read-btn{
        width:100%;
        margin-top: auto;
        padding:5px;
        border-top:1px solid var(--current-op-20);

        display: flex;
        align-items: center;
        justify-content: center;

        span {
            transition-duration: .1s;
        }

        .after-arrow{
            margin-left:auto;
            font-family: Material Icons;
        }
    }

    &:hover{
        .read-btn{
            span {
                color:var(--accent-light);
            }
        }
    }
}

.blog-card{
    font-family: "Host Grotesk", sans-serif;;
    text-decoration: none;
    color:unset;

    &:hover .sick-gradient {
        transform:scale(1.1);

    }

}


.blog-card .title{
    font-size: 2em;
    word-break: break-word;
}

.blog-card .bottom-info{
    gap:1em;
    display: flex;

    span:nth-child(2) {
        color:var(--current-op-50);
    }
}

.sick-gradient {
    height: 200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition-duration:.1s;
    
}

.sick-gradient img {
    object-fit: cover;

    max-width: 100%;
    max-height: 100%;

    pointer-events: none;
}


.sick-parent {
    display: flex;
    align-items: center;
    height:200px;
    justify-content: center;
    width: 100%;

    margin-bottom:1em;
    overflow: hidden;
    border-radius: 5px;
}