.ai-chat{
    position:relative;
}


.ai-chat .prompt-area textarea{

    position:absolute;
    top:0;
    left:0;

    outline:none;
    border:none;
    font-family: Inter;
    resize:none;
    padding:10px;
    color:var(--text);

    background:transparent;

    width:calc(100% - 3em);
    height:calc(100% - 20px);


}


.ai-chat .prompt-area{
    position: fixed;
    bottom:8em;
    
    background: var(--low-bg);
    height:4em;
    width:calc(100% - 4em);

    padding-left:10px;
    padding-right:10px;

    border:1px solid var(--current-op-20);
    border-radius: 20px;
    overflow: hidden;
}

.send-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    background:var(--accent);
    font-family: 'Material Icons';
    height:2em;
    width:2em;
    position:absolute;

    bottom:5px;
    right:0;

    color:white;
    border-radius: 50%;
    cursor:pointer;
    user-select: none;

    &:hover{
        opacity:.8;
    }
}

@media (min-width: 769px) {
    .send-btn:not(.active) {
        pointer-events: none;
        opacity: .5;
    }
}

@media (max-width: 768px) {

    .ai-chat .prompt-area{
        width:calc(100% - 4em);
        height:6em;
        bottom:4em;
    }

    .send-btn{
        position:fixed;
        display: none;

        bottom:4.5em;
        right:2em;

        height:3em;
        width:3em;
    }

    .send-btn.active{
        display: flex;
    }

    html:has(.send-btn.active) .burger.right{
        display: none;
    }
}

.ai-check{

    label {
        display: flex;
        align-items: center;
        gap:1em;
    }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        min-width: 1.3em;
        min-height: 1.3em;
        transform: translateY(-2px);
        border: 1px solid var(--current-op-30);
        border-radius: 4px;
        background: var(--current-op-10);
        outline: none;
        cursor: pointer;
        transition: box-shadow 0.2s, background 0.2s;
        position: relative;
        vertical-align: middle;
        /* box-sizing: border-box; */
    }

  input[type="checkbox"]:checked {
    background: var(--accent);
    border-color: var(--accent);
  }

  input[type="checkbox"]:checked::after {
    content: '';
    display: block;
    position: absolute;
    left: 0.32em;
    top: 0.1em;
    width: 0.3em;
    height: 0.6em;
    border: solid #fff;
    border-width: 0 0.18em 0.18em 0;
    transform: rotate(45deg);
  }

  .auth-ai{
    background:var(--accent);
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:.5;
    pointer-events: none;
    color:var(--dark-text);
    border-radius: 1em;
    transition-duration: .2s;

    &.active{
        pointer-events: unset;
        opacity: 1;
        cursor: pointer;
    }

    &:hover{
        opacity:.8;
    }
  }

}

.msgs-wrap{
  overflow: scroll;
  overflow: hidden;


  background: linear-gradient(
    to bottom,
    var(--low-bg-op-20) 0%,
    transparent 5%,
    transparent 95%,
    var(--low-bg-op-20)  100%
  );
}

.msgs{
  overflow: scroll;
  position:relative;

  /* height:100%; */
  border-radius: 1rem;

  padding-bottom:20vh;


  max-height:60vh;

  background: linear-gradient(
    to bottom,
    var(--low-bg-op-20) 0%,
    transparent 5%,
    transparent 95%,
    var(--low-bg-op-20)  100%
  );
}


.ai-chat .msg:has(.user-msg){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ai-chat .user-msg{
  --temp-mag:0;

  position: relative;

  color:var(--text);

  background: linear-gradient(var(--accent-op-50), var(--accent-op-30));
  padding: 8px 15px;
  border-radius: 1rem;
  display: block;
  width: fit-content;
  max-width: 70%;
  margin: 5px 0 5px auto;
  white-space: pre-wrap;
  overflow: scroll;
  overflow: hidden;

  margin-bottom:var(--temp-mag);

  animation: msgUserAppear 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}


@keyframes msgUserAppear {
  from {
    opacity:0;
    transform: translateY(100vh) scale(3);
  }
  to {
    opacity:1;
    transform: translateY(0) scale(1);
  }
}



.ai-chat .ai-msg{
    border-radius: 10px;
    text-align: left;
    padding:5px;
    color:var(--text) !important;

    overflow: scroll;
    .cop-title{
        font-family: inter;
    }
}

.blink-dot {

}

.blink-dot::after {
    content: "";
    display: inline-block;
    margin-top:40px;
    width: 0.8em;
    height: 0.8em;
    margin-left:5px;
    border-radius: 50%;
    background-color: currentColor;
    animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.ai-chat .error-msg{
    background: var(--red-op);
    border:1px solid var(--red-op);
    padding:5px 10px;
    border-radius: 15px;
    color:color-mix(in srgb, var(--text) 50%, var(--red) 50%);
    margin:15px;
}