.toc-children {
    border-left:var(--current-op-50) 1px solid;
    padding-left:1em;
    transition-duration: .1s;
}

.toc-link{
    display: flex;
    align-items: center;
    font-size: 90%;
    cursor:pointer;
    user-select: none;
    border-radius: 5px;
    padding:5px;
    color:var(--text-op);

    &:hover{
        background:var(--current-op-30);
    }
}

.toc-link.active{
    color:var(--accent-auto);
    background:var(--current-op-20);
}

.toc-link:not(.open) + .toc-children{
    height:0;
    display: none;
}

.toc-link.open + .toc-children, .toc-children:has(.toc-link.open){
    height:auto !important;
    display: block !important;
}

.toc-children:has(.toc-link.active){
    /* border-left-color: var(--dark-blue); */
    border-left:2px solid var(--current-op-50);
}

.toc-link.root{
    padding-left:15px !important;
}


@media (max-width:768px) {
    .toc-link{
        font-size: 1em;
    }
}

