/* Sidebar styles */

.sidebar {
  position: fixed;
  transition: background-color 0.2s ease;
  top: 0;
  left: 0;
  height: 100%;
  width: 15vw;
  background-color: inherit;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.1s ease-in-out;
  z-index: 1000;
  background:var(--light-sidebar);
  backdrop-filter: blur(10px);
  
}

.sidebar.right{
  left:unset;
  right:0;
  /* background:none !important; */
}


@media (max-width:768px){
  .sidebar{
    width:calc(100% - 40px) !important;
  }
}

html:has(.app.dark) .sidebar {
  background: var(--dark-sidebar);
}


.sidebar-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position:relative;
  overflow-y: scroll;
  border-radius: 1rem;

  .bottom-box{
    bottom:30px;
    position:absolute;
  }

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  color:#5c5c5c;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}


html:has(.app.dark) .sidebar-content{
  color:#b3b3b3;
}

.theme-toggle{
  user-select: none;
  cursor:pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition-duration:.2s;

  &:active{
    transform: scale(0.9);
    rotate:45deg;
  }
}

.burger {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position:fixed;
  top:20px;
  left:20px;
  transform:scale(0.7);
  z-index: 3333;
  background:var(--light-sidebar);
  padding:20px;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18), 0 1.5px 6px rgba(0,0,0,0.12);
  backdrop-filter: blur(5px);
}


.burger.right{
  left:unset;
  right:20px !important;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    border:solid 1px;
    height:2rem;
    transform: translateY(-5px);
    transition-duration: .2s;
  }

}

@media (min-width: 769px){
  .burger.right{
    span:first-child{
      transform: rotate(45deg) translateY(4px);
    }

    span:last-child{
      transform:rotate(-45deg) translateY(-4px);
    }
  }

  .burger.right.open{
    span:first-child{
      transform: rotate(-45deg) translateY(4px);
    }

    span:last-child{
      transform:rotate(45deg) translateY(-4px);
    }
  }

}

@media (max-width:768px) {
  html:has(.sidebar:not(.right).open) .burger.right{
    display: none;
  }

  html:has(.sidebar.right:not(.open)) .burger:not(.right){
    display: none;
  }

  html:has(.burger.right:not(.open)) .burger:not(.right){
    display: none;
  }

  .burger.right{
    span:first-child{
      transform: rotate(-45deg) translateY(4px);
    }

    span:last-child{
      transform:rotate(45deg) translateY(-4px);
    }
  }

  .burger.right.open{
    span:first-child{
      transform: rotate(45deg) translateY(4px);
    }

    span:last-child{
      transform:rotate(-45deg) translateY(-4px);
    }
  }

}

html:has(.app.dark) .burger{
  /* background:var(--dark-sidebar); */
  background:rgba(50,50,50,.5);
}

.burger > div {
  height: 2px;
  background-color: currentColor;
  transition: 0.2s;
}




@media (max-width: 768px) {
  .sidebar:not(.right).open{
    transform:translateX(0);
  }

  .sidebar.right.open{
    transform:translateX(100%);
  }

  .sidebar.right:not(.open){
    transform: translateX(0);
  }

  .burger{
    bottom:20px;
    top:auto;
  }

  .bottom-box{
    bottom:unset;
    top:20px;
  }

  .burger.active > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  .burger.active > div:nth-child(2) {
    opacity: 0;
  }
  .burger.active > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  html:has(.sidebar:not(.right).open) {
    overflow:hidden;
  }

  html:has(.sidebar.right:not(.open)) {
    overflow:hidden;
  }

}

@media (min-width:769px){
  .sidebar {
    transform:translateX(0);
  }

  .sidebar:not(.right).open{
    transform:translateX(-100%);
  }

  .sidebar.right{
    transform:translateX(100%);
  }

  .sidebar.right.open{
    transform:translateX(0);
  }

  html:has(.sidebar) .main-content{
    margin-left:calc(15vw + 50px);
  }

  html:has(.sidebar.right.open) .main-content{
    margin-right:calc(15vw + 50px);
  }

  html:has(.sidebar:not(.right).open) .main-content{
    margin-left:100px;
  }

  html:has(.sidebar.right:not(.open)) .main-content{
    margin-right:20px;
  }

  .burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  .burger > div:nth-child(2) {
    opacity: 0;
  }
  .burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  .burger.active > div{
    transform: none;
    opacity: 1;
  }
}

.sidebar-element{
  display: flex;
  align-items: center;
  font-size: 80%;
  cursor:pointer;
  user-select: none;
  border-radius: 5px;
  padding:5px;
  color:var(--text-op);
  font-family: Inter;
  text-decoration: none;

  
  span.material-icons{
    margin-right:.5em;
  }

  a {
    color:currentColor !important;
    text-decoration: none;
  }

  &:hover{
    background:color-mix(in srgb, currentColor 20%, transparent 80%);
  }

  &.active{
    color:var(--accent-auto);
  }
}

.sidebar-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:75%;
}


.sidebar.right .selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background: var(--low-bg-op-20);
  border-radius: 2em;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  gap: 1.5em;
}

.sidebar.right .selector .option {
  background: var(--low-bg-op-50);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--current-op-50);
  font-size: 2rem;
  transition: background 0.2s, transform 0.15s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  cursor: pointer;
  user-select: none;

  .option:not(.active):hover{
    background:var(--accent-op-20);
  }
}


.app.dark .sidebar.right .selector{
  background: var(--dark-bg);

  .option:not(.active):hover{
    background:var(--accent-op-50);
  }
}



.sidebar.right .selector .option.active {
  background: var(--accent);
  color: #fff;
}

@media (min-width:769px) {
  .sidebar.right .selector{
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    box-sizing: border-box;
    max-width: 100%;
  }

  .sidebar.right .selector .option{
    width:2.5rem;
    aspect-ratio: 1 / 1;
    height: auto;
  }
}


.sidebaright-content{
  margin-top:5em;
  height:calc(100vh - 12em);
  margin-bottom:5em;
  overflow:scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  color:#5c5c5c;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

}

@media (max-width: 768px) {
  .sidebaright-content{
    margin-top:0em;
    padding-top:3em;
  }
}


.spotlight-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  background:rgba(0,0,0,.5);

  .spotlight-container{
    animation: slideIn 0.2s ease-out;
    margin-top:20%;
    margin-left:50%;
    translate:-50% 0;
  }
}

html:has(.spotlight-overlay){
  overflow: hidden;
}

.app.dark .spotlight-overlay{
  background:rgba(0,0,0,.1);
}

.spotlight-container {
  background: var(--bg);
  border-radius: 12px;
  width: min(90vw, 600px);
  max-height: 70vh;
  /* overflow: hidden; */

  border:1px solid var(--current-op-20);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(-20px);
  }
  75% {
    opacity: .5;
    transform: scale(1.05) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.spotlight-search{
  padding:10px;
  display: flex;
  align-items: center;
  gap:.5em;

  .icon{
    user-select: none;
    color:var(--text-op);
    font-family: Material Icons;
  }
}

.spotlight-search input {
  flex: 1;
  border: none;
  outline: none;
  width:100%;

  background:transparent;
  font-size: 1rem;
  font-family: Inter, system-ui, sans-serif;
  color: var(--text);
}


.spotlight-results{
  padding:15px;
  overflow: scroll;
  max-height: 500px;

  scrollbar-width: thin;
  scrollbar-color: var(--current-op-30) transparent;
  

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--current-op-30);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--current-op-50);
  }

}

.spotlight-results > a{
  color:unset;
  text-decoration: none;
  border-radius: 5px;
  padding:5px 5px;
  font-family: Inter;
  user-select: none;
  cursor: pointer;
  display: block;
  white-space: pre;

  &.active {
    background:var(--current-op-10);
    color:var(--accent-auto);
  }

  &:hover{
    background:var(--current-op-10);
  }
}

.spotlight-container .separator{
  margin:0 10px;
  border-bottom: 1px solid var(--current-op-20);

  &.stable{
    display: none;
  }
}

.spotlight-results.stable {
  position:absolute;
  background:var(--bg);

  /* Calc width by removing padding and border */
  width: calc(100% - 30px);
  top:100%;
  left:-1px;
  z-index:50;
  border:1px solid var(--current-op-20);

  max-height: 200px;

  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;

  scrollbar-width: none !important; 
  -ms-overflow-style: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }

}


.spotlight-container:has(.spotlight-results.stable) {
  position:relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}