.search-tool {

}

.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--low-bg);
    border: 1px solid var(--current-op-20);
    border-radius: 8px;
    padding: 8px 12px;
    overflow: scroll;
    overflow: hidden;
}

.search-icon {
    color: var(--current-op-80);
    margin-right: 15px;
    user-select: none;
    font-family: Material Icons;
    padding:0;
    font-size:125%;
}

.search-input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    color: var(--text);
    font-family: Inter;
    font-size: 14px;
}

.search-input::placeholder {
    color: var(--current-op-50);
}


