.paper-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 20px;
    padding: 20px;
}

.paper-item{
    display: flex;
    align-items: center;
    background:var(--low-bg);
    border-radius:6px;
    cursor:pointer;
    padding:20px;

    font-family: Inter;
    text-decoration: none;
    color:unset;
    user-select: none;
    border:1px solid var(--low-bg);
    box-shadow: var(--bs);

    transition: box-shadow 0.2s;
    overflow: scroll;
    overflow: hidden;

    img {
        max-width: 100px;
        object-fit: cover;

        pointer-events: none;
        border-radius: 5px;
        box-shadow: var(--bs);
        flex-shrink: 0;
    }

    .infos {
        flex-direction: column;
        justify-content: flex-start;
        padding:20px;

        .header{

        }

        .icon-bar{
            display: flex;
            gap:1em;
            color:var(--text-op);

            span {
                display: flex;
                align-items: center;
                gap:.5em;
                .icon{
                    font-family: Material Icons;
                }
            }
        }

        p {
            color:var(--text-op);
        }
    }
}

@media (max-width:1268px){
    .paper-item{
        display:block;

        .img-parent{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.tags-container{
    padding:10px 0;

    .tag{
        padding:2px;
        color:var(--accent-auto);
        background:var(--current-op-20);
        border-radius: 6px;
        margin:0 2px;
    }
}